volumes:
  clickhouse_data:

services:
  clickhouse-server:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./users.d:/etc/clickhouse-server/users.d:ro
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai  
