
services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    ports:
      - "37017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root123
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

volumes:
  mongo-data:
