services:
  sd-webui:
    image: siutin/stable-diffusion-webui-docker:cuda-13.1.0-v1.10.1-2025-12-14
    container_name: sd-webui
    ports:
      - "7860:7860"
    volumes:
      - ./stable-diffusion/models:/stable-diffusion-webui/models
      - ./stable-diffusion/outputs:/stable-diffusion-webui/outputs
      - ./stable-diffusion/extensions:/stable-diffusion-webui/extensions
      - ./stable-diffusion/embeddings:/stable-diffusion-webui/embeddings
      - ./stable-diffusion/config:/stable-diffusion-webui/config
    environment:
      - CLI_ARGS=--xformers --enable-insecure-extension-access --listen --api --medvram-v2
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: unless-stopped